@use "../abstracts/" as ab;
.main {
    margin-top: 2.5em;
    &_heading1 {
        text-wrap: balance;
        font-size: clamp(2.2rem, 3.2vw, 3rem);
        font-weight: 500;

        span {
            color: #0475d6;
            // color: white;
            padding: 0.1em;
        }
    }

    &_heading2 {
        margin-top: 1em;
        span {
            background-color: #0475d6;
            color: white;
            padding: 0.1em;
        }
    }
    img {
        display: none;
    }
    &-image {
        position: relative;
        z-index: -1;

        &_line {
            position: absolute;
            height: 0.1em;
            background-color: #0475d6;
            width: 100%;
            bottom: 4em;
            z-index: -2;
        }
    }
}
.silder {
    margin-top: 3em;
    overflow: hidden;
    z-index: 1;
    position: relative;

    .slides {
        @keyframes scroll {
            0% {
                translate: 0;
            }
            100% {
                translate: -54.65em;
                // translate: 100%;
            }
        }
        display: flex;
        gap: 3em;
        animation: scroll 9s linear infinite;
        width: calc(100px * 17);
        transition: ease-in-out 2s;

        // translate: -54.65em;

        .slide {
            border: 0.2em solid #0475d6;
            border-radius: 0.3em;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.8em 0em 0.8em 0em;
            // width: clamp(16em, 18vw, 18em);
            width: 17em;
            background-color: white;

            img {
                width: clamp(7em, 9vw, 9em);
            }
        }
    }
}
.heading {
    // outline: 2px solid red;
    h3 {
        // outline: 2px solid blue;
        text-align: center;
        color: #333333;
        font-weight: 600;
        font-size: 2rem;
    }

    .offer {
        // outline: 5px solid green;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2em;
    }
}
