@use "../abstracts/" as ab;
.border_main{
    border-bottom: 0.1em solid #0475D6;
  }
.main{
    display: flex;
    justify-content: space-between;
    
    align-items:center;
    padding: 5em 0em;
    .main_heading{
        width: 50em;
        // outline: 2px solid red;
        padding: 2em 0em;
        margin-top: -2.5em;
    }
    div>h1{
        font-weight: 500;
        font-size: 4.375rem;
    }
    div>p{
        font-weight: 400rem;
        font-size: 1.75rem;
    }
   div>h1>span{
    color: #0475D6;
   }
   div>p>span{
    background-color: #0475D6;
    color: white;
    padding: 0.1em;
   }
}

.main_img{

   
    margin-top: -5.8em;

    display: flex;
    gap: 3em;

    > div, p {
        flex: 1;
        display:flex ;
        align-items: center;
        font-size: 1.75rem;
        font-weight: 400;
    }

    > div {
        background-color: white;
        border: 0.1em solid #0475D6;
        border-radius: 0.3em;
        padding-block: 0.6em;
        img {
            // outline: 2px solid red;
            margin-inline: auto;
        }
    }
}