@use "../abstracts/" as ab;
.main {
    margin-top: 2.5em;
    &_heading1 {
        text-wrap: balance;
        font-size: clamp(2.2rem, 3.2vw, 3rem);
        font-weight: 500;

        span {
            color: #0475d6;
            // color: white;
            padding: 0.1em;
        }
    }

    &_heading2 {
        margin-top: 1em;
        span {
            background-color: #0475d6;
            color: white;
            padding: 0.1em;
        }
    }
    img {
        display: none;
    }
}
.silder {
    .slides {
        .slide {
        }
    }
}
