@use "../abstracts" as ab;

.Menu-container {
    height: 2em;
    width: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    position: absolute;
    height: 0.2em;
    width: 2em;
    background-color: #0475d6;
    transition: 0.4s ease;
    bottom: 0.9em;
    border-radius: 0.3em;
}
.line::before {
    content: "";
    position: absolute;
    height: 0.2em;
    width: 2em;
    background-color: #0475d6;
    top: -0.5em;
    border-radius: 0.3em;
}
#Toggle {
    display: none;
}

.line::after {
    content: "";
    position: absolute;
    height: 0.2em;
    width: 2em;
    background-color: #0475d6;
    bottom: -0.5em;
    border-radius: 0.3em;
}
#Toggle:checked + label #active {
    transform: rotate(45deg);
}

#Toggle:checked + label #active::before {
    transform: rotate(-90deg) translateX(-0.5em);
}

#Toggle:checked + label #active::after {
    display: none;
}
.nav_menu > ul {
    display: none;
}
.border {
    position: sticky;
    top: 0em;
    background-color: white;
    padding-block: 1em;
    border-bottom: solid 0.2em rgb(4, 117, 214);
    .nav--hidden {
        transform: translateY(-5em);
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        &_icon {
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.5em;
            .nav_img {
                // outline: 2px solid red;
                // text-align: end;
                a {
                    // display: flex;
                    // align-items: flex-end;
                    // flex-direction: column;
                    img {
                        width: clamp(6.5em, 14vw, 14em);
                    }
                }
            }
        }
    }

    button {
        background-color: white;
        border: 0.1em solid #0475d6;
        border-radius: 0.2em;
        font-size: clamp(0.8rem, 2vw, 1.25rem);
        font-weight: 500;
        width: clamp(11em, 19vw, 19em);
        transition: background-color 300ms;
        padding: 0.4em 0.2em 0.4em 0.2em;
    }
    button:hover {
        background-color: #0475d6;
        color: white;
        cursor: pointer;
    }
}
