@use "/src/style/abstracts" as ab;
.empower {
    background-image: url("../../public/main/empower_moblie.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border-radius: 0.8em;
    padding: 1.8em 0.7em;
    align-items: center;
    margin: 2em 0em;
    @include ab.screen-40 {
        flex-direction: row;
    }
    p {
        font-weight: 700;
        font-size: clamp(1.8rem, 3vw, 3rem);
        color: white;
    }
    a {
        background-color: #e3374e;
        color: white;
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: 600;
        padding: 0.5em 0.4em;
        border-radius: 0.2em;
        width: clamp(13em, 14vw, 14em);
        text-align: center;
        max-height: 5em;
    }
}
