@use "/src/style/abstracts" as ab;
.bg {
    background-image: linear-gradient(165deg, #054e51, #076bbb, #0263b2);
    background-repeat: no-repeat;
    background-size: cover;
    @include ab.screen-40 {
        background-image: linear-gradient(90deg, #054e51, #076bbb, #0263b2);
    }
}
.footer {
    color: white;
    padding: 2em 0em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: clamp(1em, 4.5vi, 4em);
    // justify-items: center;

    @include ab.screen-48 {
        grid-template-columns: repeat(4, 1fr);
    }

    // > * {
    //     outline: 2px solid red;
    // }

    iframe {
        width: 100%;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        > p {
            font-weight: 700;
            font-size: 1rem;
        }
        > div {
            font-weight: 400;
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
    .address {
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        > p {
            font-weight: 700;
            font-size: 1.25rem;
        }
        > div {
            font-weight: 400;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            font-size: 1rem;
            .details {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
            }
        }
    }
    .connect {
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        > p {
            font-weight: 700;
            font-size: 1.25rem;
        }
        > div {
            font-weight: 400;
            font-size: 1rem;
        }
    }
}
.footer2 {
    // outline: 2px solid red;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 0.875rem;
    padding-bottom: 1.5em;
    color: white;
}
