@use "/src/style/abstracts" as ab;
.card {
    // background-image: url("../../public/main/formphone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(165deg, #2e452c, #4208a7, #111063);
    padding: 2em 0em;
    @include ab.screen-40 {
        background-image: linear-gradient(90deg, #2e452c, #4208a7, #111063);
    }
    .container {
        @include ab.screen-54 {
            display: flex;
            justify-content: space-between;
            // outline: 2px solid red;
            gap: 2em;
        }
    }
    .form_content {
        .heading1 {
            font-weight: 700;
            font-size: 2.8125rem;
            background: linear-gradient(to right, #cbfffc, #89c9ff);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            max-width: 30em;
        }
        .heading2 {
            font-weight: 600;
            font-size: 1.6875rem;
            color: white;
            max-width: 23em;
        }
    }
    .form {
        form {
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            input {
                width: clamp(19em, 22vw, 22em);
                height: 3em;
                border-radius: 0.3em;
                border: none;
                text-align: center;
            }
            input::placeholder {
                text-align: center;
            }
            input::-ms-input-placeholder {
                text-align: center;
            }
            button {
                border-radius: 0.4rem;
                background: #e3374e;
                border: none;
                padding: 0.5em 1.5em;
                cursor: pointer;
                font-size: 1.25rem;
                font-weight: 600;
                color: white;
            }
        }
    }
}
